.ion-label {
    font-weight: bold;
  }
  
  .ion-item {
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 1.3rem;
    color: #3a3a3a;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .ion-button {
    margin-top: 20px;
  }
  
  